div.container {
    width: 100%;
    justify-content: center;
}

.searchForm {
    margin-right: 5px;
    
}   



.headerButton {
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left; 
    background-color: transparent;
    font-size: 15px;
    margin-left: 25px;
    /* width: 57px;
    height: 27px; */
    transition: linear .2s;
}

.headerButton:hover {
    color: lightblue; 
}